*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(background.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.logo img{
    padding-left: 3%;
    padding-top: 2%;
    float: left;
    width: 90px;
}
.flexbox li {
    list-style: none;
    margin-top: 10px;
    margin-left: 53px;
    font-size: 50px;
}
.main {
     cursor: pointer;

}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
    color: black;
}
.flexbox a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    align-items: center;
}
.wholeimg {
    align-items: center;
    height: 90px;
}
