*{
    margin: 0%;
    padding: 0%;
}
body {
    background: url(images/loynas.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.logo img {
    width: 90px;
    float: left;
    padding-left: 3%;
    padding-top: 2px;
}
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    color: black;
    list-style: none;
    list-style: none;
   
}
.flexbox li {
    margin-top: 10px;
    margin-left: 53px;
    font-size: 50px;
}
.flexbox a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    align-items: center;
}  
.sector {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    align-items: center;
    
}
.mypicture img{
    width: 382px;
}
.mypicture {
    margin-left: 100px;
    margin-right: 32px;
}
.main {
    cursor: pointer;
}
.name {
    background-color: pink;
    width: 300px;
    height: 60px;
    font-size: 20px;
    border: dashed;
    color:black;
    border-radius: 10px;
    border-color: black;
}
.hello {
    margin-bottom: 200px;
    margin-left: 10px;
}
.mine {
    color: rgb(245, 41, 75);
    font-size: 30px;
}

.span  {
    color: crimson;
}
.love {
    font-size: 19px;
}
.love p {
    background-color: rgb(255, 187, 255);
    vertical-align: middle;
}
.secon{
    font-size: 100px;
}
